# Godot 4+ specific ignores
.godot/
/android/

assets/fonts/PixelOperator8-Bold.ttf.import

assets/fonts/PixelOperator8.ttf.import

assets/music/time_for_adventure.mp3.import

assets/sounds/coin.wav.import

assets/sounds/explosion.wav.import

assets/sounds/hurt.wav.import

assets/sounds/jump.wav.import

assets/sounds/power_up.wav.import

assets/sounds/tap.wav.import

assets/sprites/coin.png.import

assets/sprites/fruit.png.import

assets/sprites/knight.png.import

assets/sprites/platforms.png.import

assets/sprites/slime_green.png.import

assets/sprites/slime_purple.png.import

assets/sprites/world_tileset.png.import
